body{background-color:#ffcccc;}
#topic{font-size:50;
	font-style:italic;
	text-align:center;
	text-color:blue;
}

#data{font-size:20;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}